<div class="container">

    <h1>About Our Organisation</h1> &nbsp;&nbsp;

    <p>
        Greetings from  <b>Comfort Office Zone!! </b>  <br>
Towards a bright office furniture transact… <br>
It was exactly in the year 2012 that, we presented our esteemed customers - a view to product trends, dedicated to the field of modern
furniture. Now its time to reflect the same to renowned office brands existing in today’s market in order to grow, learn & take further steps
to focus more over customer expectations. For the reason we wholeheartedly sending our heartiest greeting to the companies across India for
establishing a business relationship with Us. <br>
Our strength can be visualized through the quality and quantity of office furniture products available with us. We hold over 350+ chair
models which includes President Series, Executive Series, Manager Series, Net Series, Visitor Series, Workstation Series, Students Series,
Café Series, Sofa Series. We even deal in two of the table series i.e. Café Tables & Centre Tables. Our products bear innovative look, sleek
design, Optimal level of comfort, Adjustable, Admirable and last but not the least, its Effortlessly Customizable ensuring “Least Error”
possibility. <br>
Our company provides all sort of services & maintenance related to office furniture's. We do provide one year warrantee to the products
delivered, as per product invoice. We ponder about the future of office furniture in India. And the future, as you know, lies in sustainable
designs that think about tomorrow. The future also lies in the design that would give a thought to arrest the depletion of natural resources &
encourages the 3R’s - Recycle, Renew, Reuse in Furniture’s World. A thought that would take us back to the concept of living harmony
with the nature, which we had been following before the onset of industrialization. <br>
We always attempts to inspire customers to go Green & brings to them the ways & means of doing it. The journey is on & now it’s for all of
us to sustain & strengthen this movement by contributing as much as possible in whatever capacity. Its time to spread & share experiences
so that our country understands the power of furniture designs. The vast range of products from bespoke pieces to its catalogue range have
proved to be very high quality & not only appreciated, but loved by most of our customer’s. The furniture looks as crisp today as the day it
was installed. <br>
We are always professional in our approach & very helpful with our products & services. <br>
So enjoy your furniture with <b>“COMFORT OFFICE ZONE”</b>  
    </p>



</div>
